In [15]:
# prompt: mount drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
import sqlite3
from sqlalchemy import create_engine

import numpy as np
import pandas as pd

engine = create_engine('sqlite:////content/drive/MyDrive/AIAP/score.db')
conn = engine.connect()

df = pd.read_sql_table('score', conn)
df.head()

,index,number_of_siblings,direct_admission,CCA,learning_style,student_id,gender,tuition,final_test,n_male,n_female,age,hours_per_week,attendance_rate,sleep_time,wake_time,mode_of_transport,bag_color
0,0,0,Yes,Sports,Visual,ACN2BE,Female,No,69.0,14.0,2.0,16.0,10.0,91.0,22:00,6:00,private transport,yellow
1,1,2,No,Sports,Auditory,FGXIIZ,Female,No,47.0,4.0,19.0,16.0,7.0,94.0,22:30,6:30,private transport,green
2,2,0,Yes,None,Visual,B9AI9F,Male,No,85.0,14.0,2.0,15.0,8.0,92.0,22:30,6:30,private transport,white
3,3,1,No,Clubs,Auditory,FEVM1T,Female,Yes,64.0,2.0,20.0,15.0,18.0,NaN,21:00,5:00,public transport,yellow
4,4,0,No,Sports,Auditory,AXZN2E,Male,No,66.0,24.0,3.0,16.0,7.0,95.0,21:30,5:30,public transport,yellow

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15900 entries, 0 to 15899
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               15900 non-null  int64
 1   number_of_siblings  15900 non-null  int64
 2   direct_admission    15900 non-null  object
 3   CCA                 15900 non-null  object
 4   learning_style      15900 non-null  object
 5   student_id          15900 non-null  object
 6   gender              15900 non-null  object
 7   tuition             15900 non-null  object
 8   final_test          15405 non-null  float64
 9   n_male              15900 non-null  float64
 10  n_female            15900 non-null  float64
 11  age                 15900 non-null  float64
 12  hours_per_week      15900 non-null  float64
 13  attendance_rate     15122 non-null  float64
 14  sleep_time          15900 non-null  object
 15  wake_time           15900 non-null  object
 16  mode_of_transport   15900 non-null  object
 17  bag_color           15900 non-null  object
dtypes: float64(6), int64(2), object(10)
memory usage: 2.2+ MB

In [21]:
# percentage of null values in final_test feature
df['final_test'].isnull().sum() / len(df)* 100

3.1132075471698113

In [23]:
# percentage of null values in attendance_rate feature
df['attendance_rate'].isnull().sum() / len(df) * 100

4.893081761006289

There are null values in final_test target variable

In [24]:
print(df[df['final_test'].isna()])

       index  number_of_siblings direct_admission     CCA learning_style  \
30        30                   2               No  Sports         Visual
51        51                   1              Yes   Clubs         Visual
240      240                   0               No  Sports       Auditory
280      280                   1               No    Arts       Auditory
331      331                   1               No   Clubs       Auditory
...      ...                 ...              ...     ...            ...
15735  15735                   2               No    Arts         Visual
15814  15814                   0               No    Arts       Auditory
15849  15849                   0               No    Arts         Visual
15850  15850                   1               No    None       Auditory
15893  15893                   1               No  SPORTS         Visual

      student_id  gender tuition  final_test  n_male  n_female   age  \
30        7882P8    Male     Yes         NaN    20.0       2.0   6.0
51        6RUZRP    Male     Yes         NaN    14.0       7.0  15.0
240       3G6CHR  Female      No         NaN     2.0      20.0  16.0
280       7BS39Q  Female     Yes         NaN    14.0      16.0  16.0
331       8895J7    Male       Y         NaN    22.0       5.0  16.0
...          ...     ...     ...         ...     ...       ...   ...
15735     TAMAJ0    Male      No         NaN    17.0       2.0  15.0
15814     HL7EEZ    Male     Yes         NaN    12.0       9.0  16.0
15849     M5KIUZ  Female       Y         NaN     4.0      17.0  15.0
15850     OW0FIT  Female      No         NaN    15.0      12.0  16.0
15893     JX2F97  Female      No         NaN     0.0      30.0  16.0

       hours_per_week  attendance_rate sleep_time wake_time  \
30               14.0             91.0      21:00      5:00
51                9.0             90.0      23:00      7:00
240              13.0            100.0      21:30      5:30
280               8.0             93.0      23:30      6:30
331              20.0            100.0      21:30      5:30
...               ...              ...        ...       ...
15735             8.0             96.0      21:00      5:00
15814             9.0             96.0      21:00      5:00
15849            20.0             98.0      22:00      6:00
15850            12.0             91.0      23:00      7:00
15893             7.0             94.0      22:00      6:00

       mode_of_transport bag_color
30      public transport     green
51                  walk     white
240     public transport       red
280    private transport    yellow
331     public transport    yellow
...                  ...       ...
15735   public transport     green
15814   public transport    yellow
15849  private transport     black
15850               walk     green
15893  private transport       red

[495 rows x 18 columns]

In [26]:
# number of missing values is not significant drop final_test where values are null
df=df.dropna(subset=['final_test'])

In [27]:
df.isnull().sum()

index                   0
number_of_siblings      0
direct_admission        0
CCA                     0
learning_style          0
student_id              0
gender                  0
tuition                 0
final_test              0
n_male                  0
n_female                0
age                     0
hours_per_week          0
attendance_rate       757
sleep_time              0
wake_time               0
mode_of_transport       0
bag_color               0
dtype: int64

In [28]:
# percentage of null values in attendance_rate feature
df['attendance_rate'].isnull().sum() / len(df) * 100

4.9139889646218755

## Sanity checks
check that index is unique

Consider either dropping or imputing the missing values in attendence rate and see if there is a relationship between attendence rate with target variable